* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
} */
.get-name {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.get-name label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.get-name input {
  /* width: 6rem; */
  height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.35rem;
  border: 1px solid grey;
}

p {
  font-size: 1.4rem;
}
#user_name {
  font-weight: 600;
  color: #3f3f3f;
  text-decoration: underline;
}
.button-groups {
  display: flex;
  gap: 1rem;
}

.modal {
  display: none;
  position: absolute;
  border: 1px solid #efefef;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.modal p.output {
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* ====== profile section ====== */
body {
  background-color: #f3f3f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  width: 100%;
}
h2 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}
body {
  width: 90%;
  margin: 0 auto;
}
section {
  border-radius: 0.25rem;
  overflow: hidden;
}
section:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section.profile-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-content: center;
  background-color: #fff;
  gap: 1rem;
}
section .profile {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin-bottom: 4rem;
}
section .profile .title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
}
section .profile p {
  font-size: 1.6rem;
  font-weight: 500;
}
section .details {
  padding: 2rem 1rem;
  height: 100%;
}
section .details span {
  padding: 1rem 0;
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
}
section .details h1,
section .details h3 {
  padding: 1rem 0;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}

section .about {
  padding: 2rem 1rem;

  height: 100%;
}
section .biography {
  background: linear-gradient(transparent 20%, #9dc08b 35%);
  /* background-color: #9dc08b; */
  text-align: center;
  height: 100%;
}
section .biography img {
  border-radius: 50%;
  width: 20rem;
  /* padding: 2rem; */
}

section .biography .bio-info {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 1rem;
}
section .biography p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.2rem;
  padding: 0 1rem;
}

/* ======= forms ======== */

section.forms {
  margin: 3rem 0;
  background-color: #9dc08b;
}
.forms form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.forms form label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #f6f8f5;
}

.forms form input {
  font-size: 1.6rem;
  color: #40513b;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 25rem;
  height: 3rem;
  border-radius: 0.35rem;
  border: 1px solid #ececec;
}
.forms form input[type="number"] {
  width: 5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.forms form input:focus,
.forms form input:focus-visible {
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ====== modal buttons ===== */
.modal-buttons {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.btn {
  padding: 1rem;
  background: #f0a04b;
  border: none;
  border-radius: 0.5rem;
  color: #252525;
  font-weight: 700;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}
.btn:hover {
  filter: brightness(0.95);
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.btn:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.btn-lg {
  font-size: 1.3rem;
}
.btn-md {
  font-size: 1rem;
}
.btn-sm {
  font-size: 0.8rem;
}
